
:root{
    --clr-primary: #1a1a1a;
    --clr-secondary: #6e6e6e;
}

.woocommerce ul.products li.product .price{
    color: var(--clr-primary);
}

.title{
    padding-bottom: 18px;
}

body {
    height: 100%;
    overflow-x: hidden; /* hide vertical scrollbar and prevent vertical scrolling */
    margin-top: 103px;
 }

.wrapper{
    margin: 0 24px;
}

#hero{
    height: calc(100vh - 103px);
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

#hero video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
}

.hero-content{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-top: 188px;
}

.hero-content img{
    position: relative;
    z-index: 20;
    height: 89px;
}

.home-page-img{
    padding: 0;
    margin: 0;
}

.hero-content .btn{
    z-index: 50;
}

.size-thumbnail, .size-medium, .size-large, .size-full {
    max-width: 100%;
    height: auto;
}

.wp-image-62{
    padding-bottom: 40px;
}

.outer-button-container{
    position: relative;
    width: 100%;
}

.inner-button-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Footer start*/

.form-text{
    display: none;
}

.accordion-container{

    padding: 0 24px;
    padding-bottom: 18px;
}

.accordion-container ul li {
    list-style: none;
}

.accordion-container ul{
    padding: 0;
    margin: 0;
}

.accordion-container ul li a{
    
    display: block;
    padding: 9px 0;
}

.media-icons-container{
    display: flex;
    height: 100%;
    width: 100%;
    align-content: left;
    padding-bottom: 20px;
}

footer .media-icons-container ul li {
    list-style: none;
    display: inline-flex;
}

footer .media-icons-container ul li .fab {
    font-size: 1.25rem;    
}

.media-icons-container ul{
    padding: 0;
    margin: 0;
}

.media-icons-container ul li a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: var(--clr-primary);
}

.media-icons-container ul li #twitter {
    padding: 18px 18px 18px 0 !important;
}

.media-icons-container ul li a{
    padding: 18px 18px;
}

.subscribe-block{
    padding: 0 24px;
}

.form-container{
    height: 50px;
}

.form-container .btn-subscribe-container{
    flex-grow: 1;
    height: 100%;
    padding-left: 6px;
}

.form-container .btn-subscribe-container .btn {
    width: 100%;
    height: 100%;
    color: #ffff;
}

/*.fine-print-container a{
    font-size: 12px;
}

#btn-less{
    display: none;
    font-size: 13px;
}

.fine-print-container p{
    margin-bottom: 20px;
}

#more{
    display: none;
}

#btn-more{
    text-decoration: underline;
    font-size: 13px;
}

#btn-less{
    text-decoration: underline;
    border: none;
    background: none;
    color: #6e6e6e;
    padding: 0;
}

.fine-print-container a:hover, a:focus a:active{
    color: #6e6e6e;
}*/

.accordion-container .accordion-button{
    background-color: #F6F6F6;
    padding: 26.37px 0;
}

.accordion-body{
    background-color: #F6F6F6;
    padding: 1rem 0;
}

.accordion-item{
    background-color: #F6F6F6;
}

.accordion-button:not(.collapsed){
    color: none;
    background: none;
    box-shadow: none;
    color: #1a1a1a;
}

.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:focus{
    border: none;
    box-shadow: none;
}

#footer-divider{
    padding: 0;
    margin: 0;
}

.form-control{
    border: 2px solid #E0E0E0;
    width: 52.20588235294118%;
    height: 100%;
    border-radius: 6px;
}

.form-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

/*Login form start*/

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme{
    padding: 10px;
}

#rememberme{
    height: 1.3rem;
    width: 1.3rem;
}

.heading-block{
    margin: 33px 24px 48px 24px;
    display: flex;
    flex-direction: column;
}

.sub-heading-block{
    margin: 24px 45px 24px 24px;
    display: flex;
    flex-direction: column;
}

/*Login form end*/

.woocommerce-MyAccount-navigation{
    display: none;
}

/*Account modal start*/

#account-modal .modal-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#account-modal .modal-body ul li{
    list-style: none;
    padding: 6px 0;
}

#account-modal .menu-account-menu-container ul li a{
   height: 100%;
   width: 100%;
   display: block;
}

#account-modal .modal-content .modal-body{
    border: none;
    border-radius: 0;
    padding: 5rem 1.5rem;
}

#account-modal .modal-content .modal-header {
    padding: 7rem 1.5rem 1rem 1.5rem;
}

#account-modal .modal-content{
    border: none;
    border-radius: 0;
    width: 100%;
    height: 456px;
    margin: 0;

}

#account-modal .modal-content .btn-close{
    background-image: none;
    height: 54px;
    width: fit-content;
    padding: .25rem .25rem .25rem 1.5rem;
    background: none;
    box-shadow: none;
    opacity: 1;
}

#account-modal .modal-dialog{
    margin: 0;
}

/*Account modal end*/

/*Blog start*/

.blog-hero-container{
    height: calc(100vh - 103px);
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    
}

.blog-hero-container h2{
    color: #ffff;
}

.blog-hero-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
}

.caption{
    top: 0;
    position: absolute;
    z-index: 50;
    padding: 24px;
}

.caption h1{
    color: white;
    padding: 12px 0;
    margin: 0;
}

.blog-hero-container .blog-hero-logo{
    position: relative;
    z-index: 20;
    width: fit-content;
    padding: 12px 0;
}

.blog-hero-container .blog-hero-logo img{
    height: 69px;
    width: 94px;
}

.excerpt-container{
    padding: 24px;
}

.excerpt-container h1{
    margin-bottom: 1.25rem;
}

.excerpt-container p{
    padding-bottom: 12px;
}

.pagination-links a{
    padding: 24px;
}

.artists-thumb-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.artists-thumb-container img{
    height: 153px;
    width: 153px;
    padding: 5px;
}

.artist-container img{
    padding-bottom: 24px;
}

.artist-wrapper{
    padding: 24px;
}

/*Shop page start*/

.woocommerce ul.products li.product a img{
   width: 100%;
}

.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
    width: 50%;
}

.woocommerce ul.products[class*=columns-] li.product:nth-child(even){
    padding: 8px 8px 8px 4px;
}

.woocommerce ul.products[class*=columns-] li.product:nth-child(odd){
    padding: 8px 4px 8px 8px;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item){
    box-shadow: none;
}

[aria-label="Size"] li {
    border-radius: 0px !important;
  }

.summary{
    padding: 24px;
}

.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs{
    display: none;
}

.related{
    display: none;
}

.product_meta{
    display: none;
}

.woocommerce ul.products li.product .button{
    display: none;
}

/*Customer login form*/

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register{
    border: none;
    margin: 0;
    padding: 0 24px;
}

.woocommerce form .show-password-input{
    content: url(../Images/eye_img.svg);
}

.woocommerce-LostPassword{
    padding-bottom: 33px;
}

.woocommerce-LostPassword a{
    padding-bottom: 33px;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme{
    display: flex;
    align-items: center;
    padding: 0;
}

#rememberme{
    margin-right: 9px;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit{
    margin-top: 33px;
    display: block;
}

.woocommerce .woocommerce-form-register__submit{
    margin-top: 33px;
    display: block;
}

.woocommerce form .form-row-first{
    width: 100%;
}

.woocommerce form .form-row-last{
    width: 100%;
}

.woocommerce-page table.cart .product-thumbnail{
    display: block;
}

.woocommerce-page table.cart .product-thumbnail::before{
    display: none;
}

















